.bg-about{
    background-image: url("../../assets/images/bg.jpg");
    background-size: cover;
    background-position:center ;
    height: 30vh;
}
.main-parent{
    height: 60vh;
}
.img-parent{
    width: 45%;
    height: 100%;
    
    img{
        width: 50%;
        height: auto;
    }
}
.about-parent{
    width: 50%;
}