.bg-contact{
    background-image: url("../../assets/images/bg.jpg");
    height: 25vh;
    background-size: cover;
    background-position: center;
}
.map-container{
    width: 45%;
}
.inputsContact{
    width: 50%;
}