.headerSection{
    height:35vh;
    background-image: url("../../../assets/images/dark-clothes.jpg");
    background-size: contain;
    
    h1{
        color: wheat;
        border-bottom: 3px solid white;
        padding: 3px;
        width: fit-content;
       
    }
}
